<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="id.co.hkbp.homeactivity">
<!--    <dist:module dist:instant="true" />-->

    <application>
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>